.azc-grid-area {
    width:100% !important;
}
.azc-grid-container .azc-grid-tableContainer table {
    width:100% !important;
    max-width:1500px !important;
}
div.ext-wizardStepWidth {
    max-width:1500px !important;
}
